<div class="ibox float-e-margins">
	<div class="ibox-title">
		<li class="dropdown" style='list-style-type:none'>
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<h5><%= title %></h5>              
			</a>
			<ul class="dropdown-menu">
				<div>
					<span class="text-muted" style="font-size: 15px;"><%= content %></span>
				</div>
			</ul>
		</li>
		<div class="pull-right">
			<div class="btn-group">
				<button id="<%= idw %>" type="button" class="btn btn-xs btn-white active">Week</button>
				<button id="<%= idm %>" type="button" class="btn btn-xs btn-white">Month</button>
			</div>
		</div>
	</div>
	<div class="ibox-content">
		<div>
			<canvas id="<%= linechartid %>" height="140"></canvas>
		</div>
	</div>
</div>