<div class="ibox float-e-margins">
	<div class="ibox-title">
		<div class="pull-right">
			<div class="btn-group">
				<button id="<%= idw %>" type="button" class="btn btn-xs btn-white active">Week</button>
				<button id="<%= idm %>" type="button" class="btn btn-xs btn-white">Month</button>
			</div>
		</div>
		<h5><%= title %></h5>
	</div>
	<div class="ibox-content">
		<canvas id="<%= linechartid %>" height="<%= height %>"></canvas>
	</div>
</div>