<div class="ibox float-e-margins">
	<div class="ibox-title">
		<div class="pull-right">
			<div class="btn-group">
				<button id="<%= idw %>" type="button" class="btn btn-xs btn-white active">Week</button>
				<button id="<%= idm %>" type="button" class="btn btn-xs btn-white">Month</button>
			</div>
		</div>
		<li class="dropdown" style='list-style-type:none'>
			<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
				<h5><%= title %></h5>              
			</a>
			<ul class="dropdown-menu">
				<div>
					<span class="text-muted" style="font-size: 15px;"><%= content %></span>
				</div>
			</ul>
		</li>
	</div>
	<div class="ibox-content">
		<h1 class="no-margins" style="display: inline-block"><%= data %></h1>
		<div class="stat-percent font-bold <%= color(rate) %> ">
			<span><%= rate %><%= percent %></span> 
			<i class="fa <%= arrow(rate) %> "></i>
		</div>
		<div id="<%= linechart %>"></div>
	</div>
</div>