<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to '首頁', root_path  %></li>
      <li role="presentation"><%= link_to 'Google Analytics', ga_dashboards_path %></li>
      <li role="presentation"><%= link_to 'Mailchimp', mailchimp_dashboards_path %></li>
      <li role="presentation" class="active"><%= link_to 'Alexa', alexa_dashboards_path %></li>
    </ul>
  </div>
</div>

社企流<br>
country rank: <%= @sein[1].inner_text %><br>
bounce rate: <%= @sein[2].inner_text %><br>
page view: <%= @sein[3].inner_text %><br>
time on site: <%= @sein[4].inner_text %><br><br>

上下游<br>
country rank: <%= @newsmarket[1].inner_text %><br>
bounce rate: <%= @newsmarket[2].inner_text %><br>
page view: <%= @newsmarket[3].inner_text %><br>
time on site: <%= @newsmarket[4].inner_text %><br><br>

泛科學<br>
country rank: <%= @pansci[1].inner_text %><br>
bounce rate: <%= @pansci[2].inner_text %><br>
page view: <%= @pansci[3].inner_text %><br>
time on site: <%= @pansci[4].inner_text %><br><br>

環境資訊中心<br>
country rank: <%= @einfo[1].inner_text %><br>
bounce rate: <%= @einfo[2].inner_text %><br>
page view: <%= @einfo[3].inner_text %><br>
time on site: <%= @einfo[4].inner_text %><br><br>

NPOst<br>
country rank: <%= @npost[1].inner_text %><br>
bounce rate: <%= @npost[2].inner_text %><br>
page view: <%= @npost[3].inner_text %><br>
time on site: <%= @npost[4].inner_text %><br><br>

Womany<br>
country rank: <%= @womany[1].inner_text %><br>
bounce rate: <%= @womany[2].inner_text %><br>
page view: <%= @womany[3].inner_text %><br>
time on site: <%= @womany[4].inner_text %><br><br>