
<h3>This week</h3>
<% @data.first[1][0]["data"]["rows"].each do |d| %>
  <li>日期 <%= d["dimensions"][0] %></li>
  <li>流量管道 <%= d["dimensions"][1] %></li>
  <li>回訪天數 <%= d["dimensions"][2] %></li>
  <li>瀏覽量 <%= d["metrics"][0]["values"][0] %></li>
  <li>單一階段瀏覽量 <%= d["metrics"][0]["values"][1] %></li>
  <li>平均工作階段停留時間 <%= d["metrics"][0]["values"][2] %></li>
  <li>跳出率 <%= d["metrics"][0]["values"][3] %></li>
  <li>工作階段 <%= d["metrics"][0]["values"][4] %></li>
  <li>新訪客比例 <%= d["metrics"][0]["values"][5] %></li> 
<% end %>
<hr>