<!-- 
<h4>不重複訪客</h4>
7天不重複訪客 <%= @web_users_week %>
30天不重複訪客 <%= @web_users_month %>
上週7天不重複訪客 <%= @web_users_week_last_week %>
上週30天不重複訪客 <%= @web_users_week_last_month %>
7天不重複訪客7d <%= @web_users_last_7d %>
每週30天不重複訪客30d <%= @web_users_last_30d %>
週比較<%= @web_users_week_last_week %>
月比較<%= @web_users_month_last_month %>  
<hr>

<h4>新訪客、回訪客(比例)</h4>
週訪客總數<%= @vistor_week %>
週新訪客 <%= @new_user_week %>
週舊訪客 <%= @old_user_week %>
週新訪客率 <%= @new_user_week_rate %>      
週舊訪客率 <%= @old_user_week_rate %>
月訪客總數<%= @vistor_month %>
月新訪客 <%= @new_user_month %>
月舊訪客 <%= @old_user_month %>
月新訪客率 <%= @new_user_month_rate %>      
月舊訪客率 <%= @old_user_month_rate %>
<hr>

<h4>網站瀏覽量</h4>
週瀏覽量 <%= @pageviews_week %>
月瀏覽量 <%= @pageviews_month %>
上週瀏覽量 <%= @pageviews_last_week %>
上月瀏覽量 <%= @pageviews_last_month %> 
週比較 <%= @pageviews_week_rate %> 
月比較 <%= @pageviews_month_rate %>
瀏覽量7d <%= @pageviews_last_7d %>
瀏覽量30d <%= @pageviews_last_30d %>  
<hr>

<h4>平均停留時間</h4>



    
<hr>

<h4>星期幾最多訪客</h4>

<hr>

<h4>平均網頁停留時間</h4>

<hr>
<h4>流量管道</h4>

有機搜尋

社群媒體(FB為主)

直接流量(網址/我的最愛/EDM)

推薦連結

<hr>
<h4>年齡分佈</h4>

（18-24歲）

（25-34歲）

（35-44歲）

（45-54歲）
<hr>
<h4>性別</h4>

（男性）

（女性）
<hr>

<h4>每次工作階段頁頁數/平均瀏覽頁數</h4>

<hr> -->
<!-- <h4>官網使用裝置分析</h4> -->
<%= @users_day %>
