<!-- 

<%= @active_users %>
<%= @active_users_week %>
<%= @active_users_lastweek %>
<%= @active_users_month %>
<%= @active_users_lastmonth %>
<%= @active_users_weekrate %>
<%= @active_users_monthrate %>
<%= @active_users_last7d %>
<%= @active_users_last30d %>
<hr>
<li>單一工作階段使用者<%= @single_session_user %>
 </li>
 <li>多工作階段使用者 <%= @multi_session_user %>  </li>

<hr>
<%= @session_pageviews_week %>
<%= @session_pageviews_week_total %>
<%= @single_session_pageviews_week %>
<%= @multi_session_pageviews_week %>
<%= @activity %> -->


7所有使用者瀏覽次數<%= @allusersviewslast7ddata %>
<hr>
7單一工作階段使用者瀏覽次數<%= @single_session_pageviews_7d %> 
<hr>
7多工作階段使用者瀏覽次數<%= @activeusersviewslast7ddata %>
<hr>
7活躍度<%= @usersactivityrate7d %>
<hr>
7活躍度日期<%= @last7ddate %>
<hr>

30所有使用者瀏覽次數<%= @allusersviewslast30ddata %>
<hr>
30單一工作階段使用者瀏覽次數<%= @single_session_pageviews_30d %> 
<hr>
30多工作階段使用者瀏覽次數<%= @activeusersviewslast30ddata %>

<hr>
30活躍度<%= @usersactivityrate30d %>
<hr>
30活躍度日期 <%= @last30ddate %>
<hr>

7流量管道 直接流量、電郵、有機搜尋、參照連結、社交
<%= @channel_user_week %>
<hr>
7跳出率
<%= @bounce_rate_week %>
<hr>
30流量管道 直接流量、電郵、有機搜尋、參照連結、社交
<%= @channel_user_month %>
<hr>
30跳出率
<%= @bounce_rate_month %>



