<!-- 

<%= @active_users %>
<%= @active_users_week %>
<%= @active_users_lastweek %>
<%= @active_users_month %>
<%= @active_users_lastmonth %>
<%= @active_users_weekrate %>
<%= @active_users_monthrate %>
<%= @active_users_last7d %>
<%= @active_users_last30d %>
<hr>
<li>單一工作階段使用者<%= @single_session_user %>
 </li>
 <li>多工作階段使用者 <%= @multi_session_user %>  </li>

<hr>
<%= @session_pageviews_week %>
<%= @session_pageviews_week_total %>
<%= @single_session_pageviews_week %>
<%= @multi_session_pageviews_week %>
<%= @activity %> -->
<%= @pageviews_7d %>
<hr>
<%= @single_session_pageviews_7d %> 
<hr>
<%= @multi_session_pageviews_7d %>

<hr>
<%= @activity_7d %>
<hr>


<%= @pageviews_30d %>
<hr>
<%= @single_session_pageviews_30d %> 
<hr>
<%= @multi_session_pageviews_30d %>

<hr>
<%= @activity_30d %>
<hr>

<%= @channel_grouping_month %>
<hr>
<%= @channel_user_week %>
<hr>
<%= @bounce_rate_week %>
<hr>
<%= @channel_user_month %>
<hr>
<%= @bounce_rate_month %>



