<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-3">
      <%= render partial: "shared/tab", locals: {id: 'labelpagefans', title: '粉絲專頁讚數', data: @fans, rate: @fansaddsweekrate, linechart: 'sparklinefansadds'} %>
    </div>
    <div class="col-lg-3">
      <%= render partial: "shared/tab", locals: {id: 'labelpageusers', title: '粉絲專頁曝光使用者', data: @pageusersweek, rate: @pageusersweekrate, linechart: 'sparklinepageusers'} %>
    </div>

    
      <div class="col-lg-3">
        <%= render partial: "shared/tab", locals: {id: 'labelwebusers', title: '官網使用者', data: @webusersweek, rate: @webusersweekrate, linechart: 'sparklinewebusers'} %>
      </div>
    
    
     <div class="col-lg-3">
      <%= render partial: "shared/tabmonthonly", locals: {id: 'labelmailusers', title: '電子報訂閱數', data: @mailusers, rate: @mailusersmonthrate, linechart: 'sparklinemailusers'} %>

    </div>     
  </div>
  <div class="row">
    <div class="col-lg-4">
      <%= render partial: "shared/linechart", locals: {id: 'labelfansretention', title: '粉絲黏著度分析', linechartid: 'lineChartfansretention'} %>
    </div>
    
      <div class="col-lg-4">
        <%= render partial: "shared/linechart", locals: {id: 'labelwebactivity', title: '官網瀏覽活躍度分析', linechartid: 'lineChartwebactivity'} %>
      </div>
      <div class="col-lg-4">
        <%= render partial: "shared/linechartmonthonly", locals: {id: 'labelmailactivity', title: '電子報成效分析', linechartid: 'lineChartmailactivity'} %>
      </div>
    
  </div>

  <div class="row">

    <div class="col-lg-6">
      <%= render partial: "shared/hbarchartdayonly", locals: {id: 'labelcompetitors', title: '競爭對手流量分析', linechartid: 'barChartcompetitors'} %>
    </div>
    
      <div class="col-lg-6">
        <%= render partial: "shared/barchart", locals: {id: 'labelwebtraffic', title: '官網流量來源與跳出率分析', linechartid: 'barChartwebtraffic'} %>
      </div>
    
  

  </div>

<% content_for :javascript do %>

<script type="text/javascript">
$(function() {
  <%= render partial: "shared/tabclick", locals: {id: '#labelpagefans', weekdata: @fans, monthdata: @fans, weekrate: @fansaddsweekrate, monthrate: @fansaddsmonthrate, linechartid: '#sparklinefansadds', data7d: @fansaddslast7d, data30d: @fansaddslast30d} %>
  <%= render partial: "shared/tabclick", locals: {id: '#labelpageusers', weekdata: @pageusersweek, monthdata: @pageusersmonth, weekrate: @pageusersweekrate, monthrate: @pageusersmonthrate, linechartid: '#sparklinepageusers', data7d: @pageuserslast7d, data30d: @pageuserslast30d} %>

    <%= render partial: "shared/tabclick", locals: {id: '#labelwebusers', weekdata: @webusersweek, monthdata: @webusersmonth, weekrate: @webusersweekrate, monthrate: @webusersmonthrate, linechartid: '#sparklinewebusers', data7d: @webuserslast7d, data30d: @webuserslast30d} %>
    <%= render partial: "shared/tabclickmonthonly", locals: { linechartid: '#sparklinemailusers', data30d: @mailuserslast30d} %>

  <%= render partial: "shared/linechartclick", locals: {id: 'labelfansretention', linechartid: 'lineChartfansretention', dataname: "lineDatafansretention", label1: "內容曝光總數", label2: "貼文互動總數", label3: "互動率", last7ddate: @last7ddate, last30ddate: @last30ddate ,weekdata1: @pageimpressionslast7ddata, weekdata2: @postenagementslast7ddata, monthdata1: @pageimpressionslast30ddata, monthdata2: @postenagementslast30ddata, weekrate: @fansretentionrate7d, monthrate: @fansretentionrate30d,} %>
  
    <%= render partial: "shared/linechartclick", locals: {id: 'labelwebactivity', linechartid: 'lineChartwebactivity', dataname: "lineDatawebactivity", label1: "所有使用者", label2: "多工作階段使用者", label3: "活躍度", last7ddate: @last7ddateg, last30ddate: @last30ddateg ,weekdata1: @allusersviewslast7ddata, weekdata2: @activeusersviewslast7ddata, monthdata1: @allusersviewslast30ddata, monthdata2: @activeusersviewslast30ddata, weekrate: @usersactivityrate7d, monthrate: @usersactivityrate30d,} %>
    <%= render partial: "shared/linechartclickmonthonly", locals: { linechartid: 'lineChartmailactivity', dataname: "lineDatamailactivity", label1: "開信數", label2: "連結點擊數", label3: "開信率", label4: "連結點擊率", last12wdate: @last12wdate , monthdata1: @mailsviews, monthdata2: @maillinks, monthrate1: @mailsviewsrate, monthrate2: @maillinksrate,} %> 
    <%= render partial: "shared/barchartclick", locals: {id: 'labelwebtraffic', barchartid: 'barChartwebtraffic', dataname: "barDatawebtraffic", labelY1: "有機搜尋", labelY2: "社群", labelY3: "自然流量", labelY4: "參照連結", labelY5: "電郵", labelX1: "流量數", labelX2: "跳出率", weekdata1: @channel_user_week, weekdata2: @bounce_rate_week, monthdata1: @channel_user_month, monthdata2: @bounce_rate_month} %>     

  <%= render partial: "shared/hbarchartclickdayonly", locals: { barchartid: 'barChartcompetitors', dataname: "barDatacompetitors", labelY1: "Womany", labelY2: "泛科學", labelY3: "上下游", labelY4: "環境資訊中心", labelY5: "社企流", labelY6: "NPOst", labelX1: "台灣排名", labelX2: "跳出率", dayrank: @rank, dayrate: @rate } %> 

});
</script>

<% end %>