<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li role="presentation"><%= link_to '首頁', root_path  %></li>
      <li role="presentation"><%= link_to 'Google Analytics', ga_dashboards_path %></li>
      <li role="presentation"><%= link_to 'Mailchimp', mailchimp_dashboards_path %></li>
      <li role="presentation" class="active"><%= link_to 'Similarweb', similarweb_dashboards_path %></li>
    </ul>
  </div>
</div>

社企流<br>
<%= show_data(@sein) %>

上下游<br>
<% @newsmarket.each do |data| %>
  <% if data["country"] == 158 %>
    visits: <%= data["visits"].round(2) %><br>
    pages_per_visit: <%= data["pages_per_visit"].round(2) %><br>
    average_time: <%= data["average_time"].round(2) %><br>
    bounce_rate: <%= (data["bounce_rate"] * 100).round(2) %>%<br>
    rank: <%= data["rank"] %><br><br>
  <% end %>
<% end %>

泛科學<br>
<% @pansci.each do |data| %>
  <% if data["country"] == 158 %>
    visits: <%= data["visits"].round(2) %><br>
    pages_per_visit: <%= data["pages_per_visit"].round(2) %><br>
    average_time: <%= data["average_time"].round(2) %><br>
    bounce_rate: <%= (data["bounce_rate"] * 100).round(2) %>%<br>
    rank: <%= data["rank"] %><br><br>
  <% end %>
<% end %>

環境資訊中心<br>
<% @einfo.each do |data| %>
  <% if data["country"] == 158 %>
    visits: <%= data["visits"].round(2) %><br>
    pages_per_visit: <%= data["pages_per_visit"].round(2) %><br>
    average_time: <%= data["average_time"].round(2) %><br>
    bounce_rate: <%= (data["bounce_rate"] * 100).round(2) %>%<br>
    rank: <%= data["rank"] %><br><br>
  <% end %>
<% end %>

NPOst<br>
<% @npost.each do |data| %>
  <% if data["country"] == 158 %>
    visits: <%= data["visits"].round(2) %><br>
    pages_per_visit: <%= data["pages_per_visit"].round(2) %><br>
    average_time: <%= data["average_time"].round(2) %><br>
    bounce_rate: <%= (data["bounce_rate"] * 100).round(2) %>%<br>
    rank: <%= data["rank"] %><br><br>
  <% end %>
<% end %>

Womany<br>
<% @womany.each do |data| %>
  <% if data["country"] == 158 %>
    visits: <%= data["visits"].round(2) %><br>
    pages_per_visit: <%= data["pages_per_visit"].round(2) %><br>
    average_time: <%= data["average_time"].round(2) %><br>
    bounce_rate: <%= (data["bounce_rate"] * 100).round(2) %>%<br>
    rank: <%= data["rank"] %><br><br>
  <% end %>
<% end %>