<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element">
					<span>
						<a href="/"><img src="<%= image_path('logo.png') %>" style="width:160px"></a>
					</span>
				</div>
				<div class="logo-element">
					<img src="<%= image_path('logo2.png') %>" style="width:60px">
				</div>
			</li>
			<li >
					<a href="/"><i class="fa fa-th-large"></i> <span class="nav-label">綜合分析</span></a>
			</li>
			<li >
				<%= link_to facebook_dashboards_path do %>
					<i class="fa fa-facebook-f"> </i> <span class="nav-label"> 粉專分析 </span>
				<% end %>
			</li>
			<li >
				<%= link_to googleanalytics_dashboards_path do %>
					<i class="fa fa-google"></i> <span class="nav-label"> 官網分析 </span>
				<% end %>
			</li>
			<li >
				<%= link_to excel_dashboards_path(format: :xls), target: "_blank" do %>
					<i class="fa fa-file-excel-o"></i> <span class="nav-label"> 資料下載 </span>
				<% end %>
			</li>
				<li >
				<a class="startTour">
					<i class="fa fa fa-play"></i> <span class="nav-label"> 使用教學 </span>
				</a>
			</li>
			<li >
				<%= link_to destroy_user_session_path, method: :delete do %>
					<i class="fa fa-sign-out"></i> <span class="nav-label" > 登出 </span>
				<% end %>
			</li>
		</ul>
	</div>
</nav>

<% content_for :javascript do %>

<script type="text/javascript">
$(function() {

	// Instance the tour
	var tour = new Tour({
		steps: [{
			element: ".startTour",
			title: "使用教學開始！ ",
			content: "六步驟，介面操作快速上手：Ｄ",
			placement: "right",
		},
			{
				element: ".navbar-header",
				title: "版面控制按鈕",
				content: "點擊後可以縮小左側導覽列。",
				placement: "right",
			},{
				element: "#labelpagefansm",
				title: "顯示期間",
				content: "點擊按鈕會切換數據顯示期間。",
				placement: "right",
			},{
				element: "#switch",
				title: "總顯示期間",
				content: "一次切換網站數據顯示期間。",
				placement: "bottom",
			},{
				element: "#starttime",
				title: "起始日期與結束日期",
				content: "切換網站資料顯示期間（今天資料不能選取，選取期間必須大於一天），點擊右側GO按鈕會出現下載選取日期區間的Excel檔案。",
				placement: "left",
			},{
				element: "#emailtitle",
				title: "圖表數值解釋",
				content: "點擊名稱查看圖表數值定義。",
				placement: "left",
			},{
				element: "#lineChartfansretention",
				title: "數據名稱",
				content: "點擊數據名稱後可以隱藏此數據於圖表中，再次點擊後會再次出現。",
				placement: "top",
			}
		]
	});

	// Initialize the tour
	tour.init();

	$('.startTour').click(function(){
			tour.restart();
			// Start the tour
			// tour.start();
	})
});

</script>

<% end %>