<div class="row border-bottom">
	<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span class="navbar-minimalize minimalize-styl-2 btn btn-primary "><i class="fa fa-bars"></i> </span>
		</div>
		<ul class="nav navbar-top-links">
			<%= render 'layouts/alert' %>
			<div class="pull-right" style=" padding: 15px;">
				<div class="btn-group">
					<button id="switchweek"" type="button" class="btn btn-xs btn-white active">Week</button>
					<button id="switchmonth" type="button" class="btn btn-xs btn-white">Month</button>
				</div>
			</div>
		</ul>
	</nav>
</div>

<script type="text/javascript">

$("<%= idw %>").click(function(){}
	$(this).siblings().removeClass('active');
	$(this).addClass('active');
	$(this).closest('.ibox').children('.ibox-content').children('h1').html('<%= weekdata %>');
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('span').html('<%= weekrate %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('i').removeClass('<%= arrow(monthrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('i').addClass('<%= arrow(weekrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').removeClass('<%= color(monthrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').addClass('<%= color(weekrate) %>')
	$("<%= linechartid %>").sparkline(<%= data7d %>, {
		type: 'line',
		width: '100%',
		height: '60',
		lineColor: '#1ab394',
		fillColor: "#ffffff"
	}); 
});

$("<%= idm %>").click(function(){
	$(this).siblings().removeClass('active');
	$(this).addClass('active');
	$(this).closest('.ibox').children('.ibox-content').children('h1').html('<%= monthdata %>');
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('span').html('<%= monthrate %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('i').removeClass('<%= arrow(weekrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').children('i').addClass('<%= arrow(monthrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').removeClass('<%= color(weekrate) %>')
	$(this).closest('.ibox').children('.ibox-content').children('.stat-percent').addClass('<%= color(monthrate) %>')
	$("<%= linechartid %>").sparkline(<%= data30d %>, {
		type: 'line',
		width: '100%',
		height: '60',
		lineColor: '#1ab394',
		fillColor: "#ffffff"
	});    
});

// Minimalize menu

$('.navbar-minimalize').on('click', function (event) {
	console.log('toggle')
	event.preventDefault();
	$("body").toggleClass("mini-navbar");
	SmoothlyMenu();
});
</script>