<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Seindashboard</title>
  <link href="" rel="shortcut icon" type="image/x-icon" />
  <!-- Main css styles -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- Main javascript files -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<body class="<% if current_user %> <% else %> login <% end %>" >
  <!-- Wrapper-->
  <div id="wapper">
    <!-- Navigation -->
    <% if current_user %>
     <%= render 'layouts/navigation' %>
    <% end %>
    
    <!-- Page wraper -->
    <div id="<% if current_user %>page-wrapper<% end %>" class="gray-bg <%= @extra_class %>">
      <%= render 'layouts/alert' %>
      <!-- Page wrapper -->
      <% if current_user %>
       <%= render 'layouts/topnavbar' %>
      <% end %>
      <!-- Main view  -->
      <%= yield %>

    </div>
    <!-- End page wrapper-->


  </div>
  <!-- End wrapper-->

  <!-- Include javascript per-view -->
  <!-- For demo purpose we include javascript in view but you can easily start SeedProject and organize it with Rails asset pipeline as you want -->
  <%= yield :javascript %>

</body>
</html>